
$primary-color:#333;
$secondary-color:#efefef;
$text-color:black;
$card-width:260px;


*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    min-height:100vh;
}
body{
min-height:100vh;
}
#root{
/*     $primary-dark:hsl(209, 23%, 22%);
    $secondary-dark: hsl(207, 26%, 17%);
    $text-dark:hsl(0, 0%, 100%);
    $primary-light:hsl(0, 0%, 96%);
    $secondary-light:hsl(0, 0%, 100%);
    $text-light:hsl(0, 0%, 52%); */
    width: 100%;
    min-height:100%;
    margin:0 auto;
    background-color: $primary-color;
}

#header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    margin-bottom: 24px;
    background-color: $secondary-color;
    color:$text-color;
    padding-block: 16px;
    h1{
        display:inline;
        margin-inline: 8px;
    }
    input{
        margin-inline: 8px;
    }
}
#main{
    display:flex;
    flex-flow: column nowrap;
    height: 100%;
    #filters{
        display:flex;
        justify-content: space-between;
        align-content: center;
        margin-inline: 12px;
        label{
            position:absolute;
            top:0;
            left:-1000px;
        }
        input,select{
            height:40px;
            background-color: $secondary-color;
            border: none;
            outline: none;
            margin-inline: 16px;
            border-radius: 4px;
            padding:8px
        }
        input{
            width:min(480px,75%);
            
        }
        select{
            width:150px
        }
    }
    #countries{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax($card-width,1fr));
        padding-inline:8px;
        margin-top:32px;
        gap:71px;
        place-items: center;
        .card{
            display: flex;
            max-width: min(100%,$card-width);
            height:340px;
            background-color: $secondary-color;
            border-radius: 8px;
            text-decoration: none;
            color:black;
            
            
            .country{
                width:100%;
                img{
                    border-radius: 8px 8px 0 0;
                    object-fit: cover;
                    width: 100%;
                    height:49%;
                
                }
                h2{
                    margin:16px 0 12px 16px;
                    text-align: left;
                    color:$text-color;
                    text-decoration: none;
                    font-size: 16px;
                }
                p{
                    margin:12px 0 16px 16px;
                    font-size: 14px;
                }
            }
            
        }
    }
}

#country{
    display:flex;
    flex-flow: column nowrap;
    #back{
        max-width:fit-content;
/*         box-shadow: ; */
        padding:8px 24px;
        margin:0 0 40px 12px;
        background-color: $secondary-color;
        color:$text-color;}
    #details{
        display:flex;
        flex-flow: row nowrap;
        #full{
            object-fit: cover;
            width:400px;
            height:300px;
        }
        #content{
            p{
                display:inline;
            }
        }
    }
    

}