$theme:(
    dark:(
        primaryColor:#eee,
        secondaryColor:#fff,
        textColor:#000,
    )
    light:(
        primaryColor : #000,
        secondaryColor : #333,
        textColor : #fff,
    )
)